$theme-colors: (
        "primary":#48c5c5,
        "light": #e8fcfa,
        "purple":#a612e0,
        "pink":#cf2b6d,
        "orange":#e69112,
        "primary-dull":rgba(5, 204, 228, 0.26)
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

::selection {
  background-color:rgba(5, 204, 228, 0.2);
}
.colored .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--cb-color);
  background-color: var(--cb-color);
}
